# URL base de la API del Backend (en Vercel configurar la URL de producción de Railway)
VITE_API_URL=http://localhost:8000/api

# Client ID de Google OAuth 2.0 (ej. 123456789-xyz.apps.googleusercontent.com)
VITE_GOOGLE_CLIENT_ID=

# Llave pública de Wompi Sandbox
VITE_WOMPI_PUBLIC_KEY=
